.address {
    margin-top: 20px;
}

.address__link {
    @extend %link;
    font-style: normal;
    font-weight: 400;
    color: $footer-contacts-color;        
    line-height: 1.71;
    text-decoration: none;
       

    &:hover,
    &:focus {        
        color: $secondary-text-color;
    }
}    