.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $hero-bg-color;    
}

.footer__container {  
    display: flex;     
    

    @include for-phone-only {
        flex-direction: column;
        align-items: center; 
    }    

    @include for-tablet-up {        
        align-items: baseline;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

.footer__title {
    @extend %title;
    margin-bottom: 20px;
    font-style: normal;        
    color: $secondary-text-color;
}

.footer__address {
    @include for-phone-only {        
        margin-bottom: 60px;
    }
    
    @include for-desctop-down{
        text-align: center;
    }    

    @include for-desctop-up{
        margin-right: 70px;
    }    
}

.footer__social {
    @include for-phone-only {        
        margin-bottom: 60px;
    }
    
    @include for-desctop-down{
        text-align: center;
    }    

    @include for-desctop-up {
        margin-right: auto;
    }    
}

.footer__subscription {
    @include for-phone-only {           
        width: 100%;            
  }
    @include for-tablet-only {         
        margin-top: 60px;
    }

    @include for-desctop-down{
        text-align: center;
    }    
}