.header {    
    border-bottom: 1px solid $header-border-color;   
        
}

.header__container { 
    position: relative;
    display: flex;        
    align-items: center;


    @include for-phone-only {
        padding: 16px 15px;
    }   
}   

