.hero {     
    text-align: center;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $hero-bg-color;
    

    @include for-phone-only {
            background-image: linear-gradient(to right, $gradient-color, $gradient-color), 
            url(../images/hero_mobile.jpg);

            @media (min-device-pixel-ratio: 2),
           (min-resolution: 192dpi),
           (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, $gradient-color, $gradient-color), 
            url(../images/hero_mobile@2x.jpg);   
           }
    }

    @include for-tablet-up {
        background-image: linear-gradient(to right, $gradient-color, $gradient-color), 
            url(../images/hero_tablet.jpg);

            @media (min-device-pixel-ratio: 2),
           (min-resolution: 192dpi),
           (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, $gradient-color, $gradient-color), 
            url(../images/hero_tablet@2x.jpg);   
           }
    }

    @include for-desctop-down {
        padding-top: 118px;
        padding-bottom: 128px;        
    }

    @include for-desctop-up {
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(to right, $gradient-color, $gradient-color), 
            url(../images/hero_desctop.jpg);  
            @media (min-device-pixel-ratio: 2),
           (min-resolution: 192dpi),
           (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, $gradient-color, $gradient-color), 
            url(../images/hero_desctop@2x.jpg);   
           }                     
    }
    
} 



    
            

.hero__title {
    margin-top: 0;
    margin-bottom: 30px;    
    color: $secondary-text-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;  
    
    @include for-desctop-up {
        font-size: 44px;
        line-height: 1.36;
    }  
}   

.hero__button{
    @extend %button;
}   